<div id="main-index-wrapper" class="d-flex justify-content-center align-items-center">
  <div>
    <h1>Welcome to RailsGPT</h1>
  <div>
  <div class="text-center mt-3">
    <%= link_to "Login", "#", class: 'btn btn-primary' %>
    <%= link_to "Sign Up", "#", class: 'btn btn-primary ms-3' %>
  </div>
</div>